
  .notification{

    &.fade-in {
        opacity: 1;
        // transform: translateY(0); /* Slide in */
        transition: .150s ease-in-out;
    }

    &.fade-out {
        opacity: 0;
        margin-top: -4rem;
        // transform: translateY(-4rem); /* Slide out */
        transition: .150s ease-in-out;
        
      }
  }